// Global constants to use for other constants

// Generally, you want to add magic numbers here if they're used multiple times or should be consistent with something else,
// used as a component of the math for calculating some other number, or have a high potential to be either

// Screen width constants
$screen-width-narrowest: 700px;
$screen-width-narrow: 980px;

// Font weight sizes
$font-weight-normal: 500;
$font-weight-thick: 700;
$font-weight-bold: 900;

// Padding sizes
$padding-small: 0.5em;
$padding-normal: 1em;
$padding-medium-large: 1.5em;
$padding-large: 2em;

// Margin sizes
$margin-smaller: 0.25em;
$margin-small: 0.5em;
$margin-normal: 1em;
$margin-medium-large: 1.5em;

// Gap sizes
$gap-length-normal: 0.25em;
$gap-length-large: 0.5em;

// Transition lengths (in seconds)
$transition-length-normal: 0.5s;
$transition-length-fast: 0.25s;
$transition-length-fastest: 0.1s;

// Transparency colors, ranked by opaqueness
$transparency-color-dark-low: rgba(0,0,0,0.3);
$transparency-color-dark-medium: rgba(0,0,0,0.5);
$transparency-color-light-low: rgba(2555,255,255,0.2);
$transparency-color-light-medium: rgba(2555,255,255,0.6);
$transparency-color-light-high: rgba(2555,255,255,0.8);

// Blur effect radii (in vh to work consistently across zooms)
$blur-radius-small: 0.5vh;
$blur-radius-normal: 1vh;

// Brightness effect amount
$brightness-dark: 0.5;
$brightness-bright: 1.25;

// Corner radii
$border-radius-normal: 1em;

// Drop shadow radii
$drop-shadow-radius-normal: 0.25em;
$drop-shadow-radius-large: 0.5em;

// View area
$view-area-padding: $padding-medium-large;

// Color mappings for different kinds of elements
$full-page-final-background-color: #111111;
$link-color: #CCCCCC;
$default-text-color: white;
$default-background-color: black;
$default-background-color-transparent: $transparency-color-light-low;
$hover-text-color: black;
$hover-background-color: white;
$active-text-color: black;
$active-background-color: $transparency-color-light-high;