@use 'constants';

.flex-container--about {
  min-height: calc(100vh - (constants.$navbar-height + (2 * constants.$about-container-padding)));
  padding: constants.$about-container-padding 0;
}

.flex-container--about img {
  height: 100%;
}

.image-box-container--about {
  transform: rotate(-1deg);
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .flex-container--about {
    flex-direction: column-reverse;
    min-height: 0;
  }

  .image-box-container--about img {
    max-height: 600px;
  }
}