@use 'constants';
@use 'Navbar'; // We need navbar-height here

// Stylesheet-specific constants
$about-container-padding: constants.$padding-normal;
$image-rotation: -1deg;
$image-max-height: 600px;

.flex-container--about {
  min-height: calc(100vh - (Navbar.$navbar-height + (2 * $about-container-padding)));
  padding: $about-container-padding 0;
}

.flex-container--about img {
  height: 100%;
}

.image-box-container--about {
  transform: rotate($image-rotation);
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .flex-container--about {
    flex-direction: column-reverse;
    min-height: 0;
  }

  .image-box-container--about img {
    max-height: $image-max-height;
  }
}