.flex-container--about {
  min-height: calc(100vh - 7em);
  padding: 1em 0em;
}

.flex-container--about img {
  height: 100%;
}

.image-box-container--about {
  transform: rotate(-1deg);
}

@media screen and (max-width: 700px) {
  .flex-container--about {
    flex-direction: column-reverse;
  }
}