.contact-container-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}

.contact_container__content .flex-container {
  min-height: calc(100vh - 6em);
  padding: 1em 0em;
  width: 100%;
}

.email-copier-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  border-radius: 64px;
  background-color: rgba(255,255,255,0.2);
  color: white;
  transition: background-color 0.25s;
}

.email-copier-container:hover {
  background-color: white;
}

.email-copier-container:hover .email-copier-container__text {
  color: black;
}

.email-copier-container:hover .email-copier-container__icon i {
  color: black;
}

.email-copier-container:active .email-copier-container__text {
  color: black;
}

.email-copier-container:active .email-copier-container__icon i {
  color: black;
}

.email-copier-container:active {
  background-color: rgba(255,255,255,0.6);
}

.email-copier-container__text {
  line-height: 5.5em;
  color: white;
  box-shadow: none;
  border-width: 0px;
  padding: 0em 1em;
  width: 10em;
  background-color: transparent;
  border-radius: 64px;
  transition: background-color 0.25s, color 0.25s;
}

.email-copier-container__text:hover {
  outline:none!important;
  background-color: white;
  color: black;
}

.email-copier-container__text:focus {
  outline:none!important;
  background-color: white;
  color: black;
}

.email-copier-container__icon {
  padding: 10px;
  color: white;
  border-radius: 256px;
}

.email-copier-container__icon i {
  transition: color 0.25s;
}

.contact-info-container {
  flex-grow: 2;
}

.contact-info-container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-wrapper--contact-info {
  flex-wrap: wrap;
}

.contact-info-container__links__priority-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  gap: 1em;
}

.link-button--email {
  min-width: 10em;
  padding: 1.25em 0em;
}

.link-button--resume {
  min-width: 10em;
  padding: 1.25em 0em;
}

@media screen and (max-width: 700px) { 
  .contact_container__content .flex-container {
    flex-direction: column-reverse;
  }

  .contact-info-container {
    min-width: 100%
  }

  .contact-info-container__links {
    flex-direction: row;
  }

  .contact-info-container__links__priority-links {
    flex-direction: column;
  }

  .button-wrapper--contact-info {
    flex-direction: column;
  }
}