@use 'constants';
@use 'Footer'; // We need footer-height here

// Stylesheet-specific constants
$background-image: url("/assets/code_pic1.jpg");
$contact-container-padding: constants.$padding-normal;
$contact-container-links-gap: constants.$gap-length-normal;
$background-color: constants.$transparency-color-dark-medium;
$blur-radius: constants.$blur-radius-small;
$link-button-min-width: 6em;

.contact-container-background {
  background-image: $background-image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  background-color: $background-color;
  backdrop-filter: blur($blur-radius);
}

.contact_container__content .flex-container {
  min-height: calc(100vh - (Footer.$footer-height + (2 * $contact-container-padding)));
  padding: $contact-container-padding 0;
  width: 100%;
}

.contact-location-info {
  text-align: center;
}

.email-copier-container {
  display: flex;
  align-items: stretch;
  cursor: pointer;
  margin: constants.$margin-smaller 0;
  border-radius: 100vh;
  background-color: constants.$default-background-color-transparent;
  color: constants.$default-text-color;
  transition: background-color constants.$transition-length-fast;
}

.email-copier-container:hover {
  background-color: constants.$hover-background-color;
}

.email-copier-container:hover .email-copier-container__text {
  color: constants.$hover-text-color;
}

.email-copier-container:hover .email-copier-container__icon i {
  color: constants.$hover-text-color;
}

.email-copier-container:active .email-copier-container__text {
  color: constants.$active-text-color;
}

.email-copier-container:active .email-copier-container__icon i {
  color: constants.$active-text-color;
}

.email-copier-container:active {
  background-color: constants.$active-background-color;
}

.email-copier-container__text {
  line-height: 4em;
  font-size: 1em;
  color: constants.$default-text-color;
  box-shadow: none;
  border-width: 0;
  padding: 0 constants.$padding-normal;
  width: 100%;
  background-color: transparent;
  transition: background-color constants.$transition-length-fast, color constants.$transition-length-fast;
}

.email-copier-container__text:hover {
  outline:none!important;
  background-color: transparent;
  color: constants.$hover-text-color;
}

.email-copier-container__text:focus {
  outline:none!important;
  background-color: transparent;
  color: constants.$hover-text-color;
}

.email-copier-container__icon {
  padding: 1em; // Icon-specific
  color: constants.$default-text-color;
  border-radius: 100vh;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.email-copier-container__icon i {
  transition: color constants.$transition-length-fast;
}

.contact-info-container {
  flex-grow: 1;
}

.contact-info-container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Since the email thing is technically separate to the rest of the links, need to compensate for missing gap
  gap: 2 * $contact-container-links-gap;
}

.contact-info-container__links .link-button {
  min-width: $link-button-min-width; // Situation-specific, biggest size that doesn't break for above narrow screen width
}

.button-wrapper--contact-info {
  gap: $contact-container-links-gap;
  flex-wrap: wrap;
  justify-content: space-between;  
}

@media screen and (max-width: constants.$screen-width-narrowest) {
  .contact-info-container {
    min-width: 100%;
  }
  
  .button-wrapper--contact-info {
    flex-direction: column;
  }
}

@media screen and (max-width: constants.$screen-width-narrow) { 
  .contact_container__content .flex-container {
    flex-direction: column-reverse;
    min-height: 0;
  }

  .button-wrapper--contact-info {
    gap: 2 * $contact-container-links-gap; // Looks nicer this way
    flex-wrap: wrap;
    justify-content: space-between;  
  }
}