@use 'constants';

.contact-container-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  background-color: constants.$transparency-color-dark-medium;
  backdrop-filter: blur(constants.$blur-radius-small);
}

.contact_container__content .flex-container {
  min-height: calc(100vh - (constants.$footer-height + (2 * constants.$contact-container-padding)));
  padding: constants.$contact-container-padding 0;
  width: 100%;
}

.contact-location-info {
  text-align: center;
}

.email-copier-container {
  display: flex;
  align-items: stretch;
  cursor: pointer;
  margin: constants.$margin-smaller 0;
  border-radius: 100vh;
  background-color: constants.$transparency-color-light-low;
  color: white;
  transition: background-color constants.$transition-length-fast;
}

.email-copier-container:hover {
  background-color: white;
}

.email-copier-container:hover .email-copier-container__text {
  color: black;
}

.email-copier-container:hover .email-copier-container__icon i {
  color: black;
}

.email-copier-container:active .email-copier-container__text {
  color: black;
}

.email-copier-container:active .email-copier-container__icon i {
  color: black;
}

.email-copier-container:active {
  background-color: constants.$transparency-color-light-high;
}

.email-copier-container__text {
  line-height: 4em;
  font-size: 1em;
  color: white;
  box-shadow: none;
  border-width: 0;
  padding: 0 constants.$padding-normal;
  width: 100%;
  background-color: transparent;
  transition: background-color constants.$transition-length-fast, color constants.$transition-length-fast;
}

.email-copier-container__text:hover {
  outline:none!important;
  background-color: transparent;
  color: black;
}

.email-copier-container__text:focus {
  outline:none!important;
  background-color: transparent;
  color: black;
}

.email-copier-container__icon {
  padding: 1em; // Icon-specific
  color: white;
  border-radius: 100vh;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.email-copier-container__icon i {
  transition: color constants.$transition-length-fast;
}

.contact-info-container {
  flex-grow: 1;
}

.contact-info-container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Since the email thing is technically separate to the rest of the links, need to compensate for missing gap
  gap: 2 * constants.$contact-container-links-gap;
}

.contact-info-container__links .link-button {
  min-width: 6em; // Situation-specific, biggest size that doesn't break for above narrow screen width
}

.button-wrapper--contact-info {
  gap: constants.$contact-container-links-gap;
  flex-wrap: wrap;
  justify-content: space-between;  
}

@media screen and (max-width: constants.$screen-width-narrowest) {
  .contact-info-container {
    min-width: 100%;
  }
  
  .button-wrapper--contact-info {
    flex-direction: column;
  }
}

@media screen and (max-width: constants.$screen-width-narrow) { 
  .contact_container__content .flex-container {
    flex-direction: column-reverse;
    min-height: 0;
  }

  .button-wrapper--contact-info {
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;  
  }
}