@use 'constants';

// Stylesheet-specific constants
$footer-height: 4em;
$footer-height-line-break: 2em;
$footer-padding: constants.$padding-normal;

.footer-container {
  background-color: constants.$full-page-final-background-color;
}

.footer-container__content {
  text-align: center;
  height: $footer-height;
  line-height: $footer-height;
}

.footer-container__content h2 {
  margin: 0;
}

.react-link__icon {
  transition: transform constants.$transition-length-normal;
  margin: 0 0.2em; // Icon-specific
}

.react-link:hover .react-link__icon {
  transform: rotate(0.5turn);
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .footer-container__content {
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
    height: auto;
    line-height: $footer-height-line-break;
  }
}