@use 'constants';

$keyword-padding-size: constants.$padding-normal;

.keyword {
  padding: $keyword-padding-size;
  background-color: constants.$default-background-color-transparent;
  color: constants.$default-text-color;
  text-decoration: none;
  text-align: center;
  display: inline;
  border-radius: 100vh;
  white-space: nowrap;
  transition: background-color constants.$transition-length-fast, color constants.$transition-length-fast;
  user-select: none;
}

.keyword:hover {
  text-decoration: none;
  background-color: constants.$hover-background-color;
  color: constants.$hover-text-color;
}