@use 'constants';

$fadeout-length: 2em;
$keywords-container-padding-size: constants.$padding-large;
$keyword-track-gap-length: constants.$gap-length-large; 
$keyword-track-animation-length: 60s;

.fadeout-horizontal {
    mask-image: linear-gradient(
        to right,
        transparent,
        black $fadeout-length,
        black calc(100% - $fadeout-length),
        transparent
    );
}

.keywords-container {
    overflow: clip;
    padding: 0 0 $keywords-container-padding-size 0;
}

.keyword-track {
    display: flex;
    gap: $keyword-track-gap-length;
    width: max-content;
    animation: keywords-move-text $keyword-track-animation-length linear infinite;
}

.keyword-track:hover {
    animation-play-state: paused;
}

@keyframes keywords-move-text {
    to {
        transform: translateX(-50%);
    }
}