@use 'constants';

.fadeout-horizontal {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 2em,
        black calc(100% - 2em),
        transparent
    );
}

.keywords-container {
    overflow: clip;
    padding: 0em 0em constants.$padding-large 0em;
}

.keyword-track {
    display: flex;
    gap: constants.$gap-length-large;
    width: max-content;
    animation: keywords-move-text 60s linear infinite;
}

.keyword-track:hover {
    animation-play-state: paused;
}

@keyframes keywords-move-text {
    to {
        transform: translateX(-50%);
    }
}