@use 'constants';

// App-wide constants (for this file)
$view-area-max-width: 1200px;
$app-background: linear-gradient(135deg, rgb(0, 109, 94) 0%, rgb(0,68,2) 50%, rgb(136, 82, 0) 100%);
$flex-container-gap-length: 2em;
$flex-container-image-hover-scale: 1.3;
$flex-container-image-max-width: 575px;
$flex-container-image-max-height: 80vh;
$link-underline-width: 1px;
$link-button-min-width: 8em;
$link-button-padding: constants.$padding-medium-large constants.$padding-normal;
$section-header-font-size: 3.5em;
$section-header-text-background: linear-gradient(to bottom right, #FFFFFF, #BBBBBB);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
  background-color: constants.$full-page-final-background-color;
}

body {
  background: $app-background;
  color: constants.$default-text-color;
  margin: 0;
}

.view-area {
  max-width: $view-area-max-width;
	margin: 0 auto !important;
	float: none !important;
  padding: 0em constants.$view-area-padding;
}

h1 {
  font-weight: constants.$font-weight-bold;
}

a {
  text-decoration: none;
}

.link { /* Thanks to https://stackoverflow.com/a/54616200 */
  color: constants.$link-color;
  background-image: linear-gradient(constants.$link-color 0 0);
  background-position: 0 100%;
  background-size: 0% $link-underline-width;
  background-repeat: no-repeat;
  transition:
    color constants.$transition-length-fast,
    background-image constants.$transition-length-fast,
    background-size constants.$transition-length-fast,
    background-position 0s constants.$transition-length-fast; /*change after the size immediately*/
}

.link:hover {
  color: constants.$link-color-hover;
  background-image: linear-gradient(constants.$link-color-hover 0 0);
  background-position: 100% 100%;
  background-size: 100% $link-underline-width;
}

.link:active {
  color: constants.$link-color-active;
  background-image: linear-gradient(constants.$link-color-active 0 0);
  background-position: 100% 100%;
  background-size: 100% $link-underline-width;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $flex-container-gap-length;
}

.flex-container img {
  max-width: $flex-container-image-max-width;
  height: 100%;
  max-height: $flex-container-image-max-height;
  transition: constants.$transition-length-normal all ease-in-out;
}

.flex-container .image-box {
  overflow: hidden;
  display: flex;
  filter: drop-shadow(0 0 constants.$drop-shadow-radius-normal black);
  border-radius: constants.$border-radius-normal;
  transition: constants.$transition-length-normal all ease-in-out;
  margin: 0;
}

.flex-container .image-box:hover {
  filter: drop-shadow(0 0 constants.$drop-shadow-radius-large black);
}

.flex-container img:hover {
  transform: scale($flex-container-image-hover-scale);
}

.flex-container--flipped {
  flex-direction: row-reverse;
}

.link-button {
  padding: $link-button-padding;
  margin: constants.$margin-smaller 0em;
  background-color: constants.$default-background-color-transparent;
  color: constants.$default-text-color;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color constants.$transition-length-fast, color constants.$transition-length-fast;
  border-radius: 100vh;
  min-width: $link-button-min-width;
}

.link-button:hover {
  text-decoration: none;
  background-color: constants.$hover-background-color;
  color: constants.$hover-text-color;
}

.link-button:active {
  text-decoration: none;
  background-color: constants.$active-background-color;
  color: constants.$active-text-color;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;  
}

.section-header {
  font-size: $section-header-font-size;
  margin: 0;
  background-image: $section-header-text-background;
  color: transparent;
  background-clip: text;
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .view-area {
    max-width: constants.$screen-width-narrow;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container img {
    max-width: 100%;
    max-height: 100vh;
  }

  .section-header {
    text-align: center;
  }

  .section-subheader {
    text-align: center;
  }
}