@use 'constants';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
  background-color: #222222;
}

body {
  background: linear-gradient(135deg, rgb(0, 109, 94) 0%, rgb(0,68,2) 50%, rgb(136, 82, 0) 100%);
  color: white;
  margin: 0;
}

.view-area {
  max-width: 1200px;
	margin: 0 auto !important;
	float: none !important;
  padding: 0em constants.$view-area-padding;
}

h1 {
  font-weight: constants.$font-weight-bold;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: constants.$flex-container-gap-length;
}

.flex-container img {
  max-width: 575px;
  height: 100%;
  max-height: 80vh;
  transition: constants.$transition-length-normal all ease-in-out;
}

.flex-container .image-box {
  overflow: hidden;
  display: flex;
  filter: drop-shadow(0 0 constants.$drop-shadow-radius-normal black);
  border-radius: constants.$border-radius-normal;
  transition: constants.$transition-length-normal all ease-in-out;
  margin: 0;
}

.flex-container .image-box:hover {
  filter: drop-shadow(0 0 constants.$drop-shadow-radius-large black);
}

.flex-container img:hover {
  transform: scale(1.3);
}

.flex-container--flipped {
  flex-direction: row-reverse;
}

.link-button {
  padding: 1.5em 1em;
  margin: constants.$margin-smaller 0em;
  background-color: constants.$transparency-color-light-low;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color constants.$transition-length-fast, color constants.$transition-length-fast;
  border-radius: 100vh;
  min-width: constants.$link-button-min-width;
}

.link-button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.link-button:active {
  text-decoration: none;
  background-color: constants.$transparency-color-light-medium;
  color: black;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;  
}

.section-header {
  font-size: 3.5em;
  margin: 0;
  background-image: linear-gradient(to bottom right, #FFFFFF, #BBBBBB);
    color: transparent;
    background-clip: text;
}

.contact-container-background {
  background-image: url("/assets/code_pic1.jpg");
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .view-area {
    max-width: 700px;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container img {
    max-width: 100%;
    max-height: 100vh;
  }

  .section-header {
    text-align: center;
  }

  .section-subheader {
    text-align: center;
  }
}