.map {
  width: 575px;
  height: 70vh;
  max-height: 575px;
  max-width: calc(100vw - 575px)
}

@media screen and (max-width: 700px) {
  .map {
    width: calc(100vw - 2em);
    height: 90vh;
    max-width: 100%;
  }
}