@use 'constants';

.map {
  width: 575px;
  height: 70vh;
  max-height: 575px;
  max-width: calc(100vw - 575px)
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .map {
    width: calc(100vw - (2 * constants.$view-area-padding));
    height: 90vh;
    max-width: 100%;
  }
}