@use 'constants';

$map-width-large-size: 575px;
$map-height-large-size: 575px;

.map {
  width: $map-width-large-size;
  height: 70vh;
  max-height: $map-height-large-size;
  max-width: calc(100vw - $map-width-large-size)
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .map {
    width: calc(100vw - (2 * constants.$view-area-padding));
    height: 90vh;
    max-width: 100%;
  }
}