.navbar-container__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  font-weight: 500;
}
  
.navbar-container__content h1 {
  font-weight: 700;
  text-align: center;
}
  
.navbar-container__content a {
  color: white;
  text-decoration: none;
}
  
.navbar-container__content__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
  
.navbar-container__content__links li {
  float: right;
}
  
.navbar-container__content__links li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.25s all ease-in-out;
  border-radius: 32px;
}
  
.navbar-container__content__links li a:hover {
  background-color: rgba(0,0,0,0.3);
}
  
.navbar-container__content__links li a:active {
  background-color: rgba(0,0,0,0.5);
}

#skip-nav-link {
  position: absolute;
  transform: translateY(-500%);
  transition: transform 200ms;
  background-color: white;
  color: black;
}

#skip-nav-link:focus {
  transform: translateY(0);
}

@media screen and (max-width: 980px) {
  .navbar-container__content {
    flex-direction: column;
    height: auto;
  }

  .navbar-container__content__links li {
    float: left;
  }
}