@use 'constants';

// Stylesheet-specific constants
$navbar-height: 5em;
$link-hover-background-color: constants.$transparency-color-dark-low;
$link-active-background-color: constants.$transparency-color-dark-medium;

.navbar-container__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  font-weight: constants.$font-weight-normal;
}
  
.navbar-container__content h1 {
  font-weight: constants.$font-weight-thick;
  text-align: center;
}
  
.navbar-container__content a {
  color: constants.$default-text-color;
  text-decoration: none;
}
  
.navbar-container__content__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
  
.navbar-container__content__links li {
  float: right;
}
  
.navbar-container__content__links li a {
  display: block;
  text-align: center;
  padding: constants.$padding-normal constants.$padding-normal;
  transition: constants.$transition-length-fast all ease-in-out;
  border-radius: 100vh;
}
  
.navbar-container__content__links li a:hover {
  background-color: $link-hover-background-color;
}
  
.navbar-container__content__links li a:active {
  background-color: $link-active-background-color;
}

#skip-nav-link {
  position: absolute;
  transform: translateY(-500%);
  transition: transform constants.$transition-length-fast;
  background-color: constants.$hover-background-color;
  color: constants.$hover-text-color;
}

#skip-nav-link:focus {
  transform: translateY(0);
}

@media screen and (max-width: constants.$screen-width-narrow) {
  .navbar-container__content {
    flex-direction: column;
    height: auto;
  }

  .navbar-container__content__links li {
    float: left;
  }
}