@use 'constants';

// Stylesheet-specific constants
$works-container-background-color: constants.$transparency-color-dark-low;
$works-container-padding: constants.$padding-normal;
$special-works-outline-size: 2px;
$special-works-padding: constants.$padding-small constants.$padding-normal;
$special-works-background-color: constants.$transparency-color-light-low;
$special-works-outline-color: constants.$transparency-color-light-medium;

.works-container__content {
  padding: 0;
  display: flex;
}

.works-container {
  min-height: calc(100vh - (2 * $works-container-padding));
  padding: $works-container-padding $works-container-padding;
  align-items: center;
  background-color: $works-container-background-color;
}

.special-works-container {
  background-color: $special-works-background-color;
  padding: $special-works-padding;
  border-radius: constants.$border-radius-normal;
  outline: $special-works-outline-size solid $special-works-outline-color;
}