.works-container__content {
  padding: 0;
  display: flex;
}

.works-container {
  min-height: calc(100vh - 2em);
  padding: 1em 1em;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

.special-works-container {
  /* background: linear-gradient(135deg, rgba(150,150,150,0.2) 0%, rgba(255,255,255,0.2) 100%); */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5em 1em;
  border-radius: 16px;
  outline: 2px solid rgba(255, 255, 255, 0.6);
  /* box-shadow: white 0px 0px 10px; */
}