@use 'constants';

.works-container__content {
  padding: 0;
  display: flex;
}

.works-container {
  min-height: calc(100vh - (2 * constants.$works-container-padding));
  padding: constants.$works-container-padding constants.$works-container-padding;
  align-items: center;
  background-color: constants.$transparency-color-dark-low;
}

.special-works-container {
  background-color: constants.$transparency-color-light-low;
  padding: 0.5em 1em;
  border-radius: constants.$border-radius-normal;
  outline: 2px solid constants.$transparency-color-light-medium;
}