@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
  background-color: #222222;
}

body {
  background: linear-gradient(135deg, rgba(0,71,62,1) 0%, rgba(0,68,2,1) 100%);
  color: white;
  margin: 0;
}

.view-area {
  max-width: 1150px;
	margin: 0 auto !important;
	float: none !important;
  padding: 0em 1em;
}

h1 {
  font-weight: 900;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.flex-container img {
  max-width: 575px;
  height: 100%;
  max-height: 80vh;
  transition: 0.5s all ease-in-out;
}

.flex-container .image-box {
  overflow: hidden;
  display: flex;
  filter: drop-shadow(0 0 0.25em black);
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  margin: 0;
}

.flex-container .image-box:hover {
  filter: drop-shadow(0 0 0.5em black);
}

.flex-container img:hover {
  transform: scale(1.3);
}

.flex-container--flipped {
  flex-direction: row-reverse;
}

.link-button {
  padding: 1.5em 1em;
  margin: 0.25em 0em;
  background-color: rgba(255,255,255,0.2);;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 128px;
  min-width: 8em;
}

.link-button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.link-button:active {
  text-decoration: none;
  background-color: rgba(255,255,255,0.6);
  color: black;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;  
}

.section-header {
  font-size: 3.5em;
  margin: 0;
  background-image: linear-gradient(to bottom right, #FFFFFF, #BBBBBB);
    color: transparent;
    background-clip: text;
}

.contact-container-background {
  background-image: url("./assets/code_pic1.jpg");
}

@media screen and (max-width: 980px) {
  .view-area {
    max-width: 700px;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container img {
    max-width: 100%;
    max-height: 100vh;
  }

  .section-header {
    text-align: center;
  }

  .section-subheader {
    text-align: center;
  }
}