name: Build & deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**' # Only consider paths directly relevant to the build
      - 'README.md'

# NOTE: Make sure, in your environment secrets page, that "VITE_GOOGLE_KEY" is set!

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: build # Be sure to set your environment here that has "VITE_GOOGLE_KEY"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
      - name: Clean install Node.js dependencies
        run: npm ci
      - name: Build package with Node.js
        run: npm run build # CI=false to ignore warnings
        env:
          CI: false
          VITE_GOOGLE_KEY: ${{ secrets.VITE_GOOGLE_KEY }}
      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: build-artifact
          path: build/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: build-artifact
